################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/UMSystem/v14/.suo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/UMSystem/v15
